@use 'sass:color';
@use '../../../assets/styles/variables.scss' as *;

.round-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $secondary-text-color;
  background-color: color.adjust($color: $primary-bg-color, $lightness: 60%);
}