@use './assets/styles/index.scss' as *;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $primary-bg-color;
  color: $primary-text-color;
}

h1 {
  margin-bottom: 20px;
  color: $primary-text-color;
}

.app {
  padding: 20px;
  min-height: 100vh;
}
